
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100 vh;
    background: seagreen;
}

.container {
    position: relative;
    width: 400px;
    height: 555px;
    background: purple;
    border-radius: 16px;
    padding: 20px;
}


.search-box {
    position: relative;
    width: 100%;
    height: 55px;
    background: slateblue;
    display: flex;
    align-items: center;
}


.search-box input {
    position: absolute;
    width: 100%;
    height: 100%;
    background: transparent;
    border: 2px solid rgb(255,255,255,0.2);
    outline: none;
    border-radius: 10px;
    font-size: 22px;
    color: #ffff;
    font-weight: 500;
    text-transform: uppercase;
    padding: 0 48px 0 42px;
}




